USE [master]
GO
/****** Object:  Database [AngatDatabase]    Script Date: 2026-03-16 1:14:22 AM ******/
CREATE DATABASE [AngatDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngatDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AngatDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngatDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\AngatDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngatDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngatDatabase]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 2026-03-16 1:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](100) NOT NULL,
	[SenderEmail] [nvarchar](150) NOT NULL,
	[MessageBody] [nvarchar](max) NOT NULL,
	[DateSent] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (1, N'Jaime', N'jaime@example.com', N'Testing the contact form setup!', CAST(N'2026-03-16T00:54:10.193' AS DateTime))
INSERT [dbo].[ContactMessages] ([MessageID], [SenderName], [SenderEmail], [MessageBody], [DateSent]) VALUES (2, N'Jaime', N'delapena.0221@gmail.com', N'Test iteration 1', CAST(N'2026-03-16T01:06:50.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [DateSent]
GO
USE [master]
GO
